main {
    
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 300vh;
    min-height: 100%;
}
 
.buttons {
    text-align: center;
    font-family: starWars;
   
}
button {
    background-color: #ebd727;
    font-family: starWars;
    margin: 5rem;
    height: 40px;
    font-size: 20px;
    border-radius: 5%;
}

.destroyer {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

html {
    background-image: url("stars2.jpg");
    
}
main {
    height: 1400px;
}
.filmList {
    
    margin-right: 1rem;
    list-style-type: none;
}

.filmList a:hover {
    
    size: 100%;
}

header {
    height: 1030px;
    
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
}


a {
    text-decoration: none;
    color: #0a0303;
}

figcaption {
    text-align: center;
    font-size: 35px;
    background-color: #ebd727;
    font-family: starWars;
}

figure {
    height: 20px;
    margin: 20px;
    margin-top: -20%;
}

figure:hover {
    height: 1px;
}

@font-face {
    font-family: starWars;
    src: url('starfont.ttf');
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth24.cur), auto !important;} /* End https://www.cursors-4u.com */