* {
    margin: 0;
    box-sizing: border-box;
}


.flip {
    width: 190px;
    height: 267px;
perspective: 600px;
margin: 2rem;

}
h1 {
font-size: 20px;
font-family: 'Gill Sans std';
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
}
h4 {
    text-align: center;
}
.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    
position: relative;
}

.cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
backface-visibility: hidden;

}
.card.is-flipped {
    transform: rotateY(180deg)
}

.front {
    background-image: url("front.jpg");
    width: 190px;
    height: 267px;
    border-radius: 4%;
}

.cardFace {
    background-image: url("front.jpg");
    width: 190px;
    height: 267px;
    border-radius: 4%;
}
.cardFace img{
    height: 200px;
    margin-top: -9%;
}
.back {
    
    transform: rotateY(180deg);
    width: 190px;
    border-radius: 5%;
    
}
figure img {
    width: 160px;
    margin-left: 4%;
    margin-top: -4%;
    
}
figure {
    text-align: center;
    font-size: 23px;
    font-family: 'Gill Sans std';
    text-transform: uppercase;
    
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;

}
body {
    background-image: url("trio.jpg");
}
header img {
    width: 30%;
    margin-top: -7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.buttons {
   display: flex;
   justify-content: center;
   align-content: center;
   
}
button {
    margin: 2rem;
    font-family: 'Gill Sans std';
    
}
.load {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
  }
  
  .load::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .load:hover::after {
    top: 0px;
    left: 0px;
    background-color: rgb(35, 190, 170);
  }

  .newPokemon {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
  }
  
  .newPokemon::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .newPokemon:hover::after {
    top: 0px;
    left: 0px;
    background-color: rgb(250, 247, 60);
  }
  .morePokemon {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
  }
  
  .morePokemon::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .morePokemon:hover::after {
    top: 0px;
    left: 0px;
    background-color: rgb(250, 142, 70);
  }
  .shinyPokemon {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
  }
  
  .shinyPokemon::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .shinyPokemon:hover::after {
    top: 0px;
    left: 0px;
    background-color: rgb(54, 74, 250);
  }

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;} /* End https://www.cursors-4u.com */