* {
    margin: 0;
    box-sizing: border-box;
}

.senators {
    display: flex;
    flex-wrap: wrap;

}

figure {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
}
figcaption {
    text-align: center;

}