* {
    margin: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: salmon;
}

figure img {
    height: 250px;
    border-radius: 15%;
}

figure {
    margin: 10px;
}

figcaption {
    text-align: center;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: right;
    background-color: cornflowerblue;
    padding: 5px;
}

Button {
    font-size: 30px;
    border-radius: 5px;
    background-color: khaki;
}

button:hover {
    background-color: salmon;
}

figure img:hover {
    height: 260px;
}