* {
    margin: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("stars.jpg");
}

html {
    background-image: url("stars.jpg");
    
}

div img {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    height: 250px;
    border-radius: 10%;
    
}

figure {
    margin: 10px;
    margin-top: 5%;
}

figcaption {
    text-align: center;
    
    font-size: 16px;
    height: 26px;
    color: rgb(2, 2, 2);
    background-color: #ebd727;
    font-family: starFont;
    padding: 5px;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding: 5px;
}



Button {
    font-size: 30px;
    border-radius: 5px;
    background-color: #ebd727;
    margin: 1%;
    font-family: starFont;
    padding: 10px;
    
}

button:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3,
    
}

figure img:hover {
    height: 260px;
    transition: .65s;
}

@font-face {
    font-family: starFont;
    src: url("starfont.ttf");
}
@font-face {
    font-family: starFont2;
    src: url("starfont2.ttf");
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth24.cur), auto !important;} /* End https://www.cursors-4u.com */